<h1>Modifier la réservation</h1>
<%= form_with model: @booking, local: true do |form| %>
  <%= form.label :date, "Date de réservation" %>
  <%= form.date_field :date %>
  <%= form.submit "Mettre à jour", class: "btn btn-primary" %>
<% end %>
