<h1> Offers </h1>

<ul>
  <% @offers.each do |offer| %>
  <li><%= offer.name %>
  <%= link_to "offer details", offer_path(offer)%></li>
  <% end %>
</ul>

 <%# <%= link_to "new offer", new_offer_path %>
